.login{
    height: 90vh;
}

.login h1{
    text-align: center;
    margin-top: 5%;
}

.login p {
    color:#aaa;
    margin-bottom: 50px;
    text-align: center;
}


.login form{
    display: flex;
    flex-direction: column;
    background-color: #EBE9EA;
    text-align: center;
    width: 40%;
    align-items: center;
    margin: 0 auto;
    padding: 60px 20px;
    border-radius: 20px;
    margin-bottom: 150px;
    height: 40;
}

.login label{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login input::placeholder{
    font-family: 'Roboto Slab', sans-serif;
    color: #AAA
}

.login input:focus{
    outline: none;
}
label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label span{
    margin-bottom: .3em;
    font-weight: bold;
    text-align: left;
}

.login input{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: .8em 0;
    background-color: transparent;
}
