.radio-image {
    display: flex;
    border: none;
    width: 300px;
}

.radio-image label>input {
    visibility: hidden;
}

.radio-image label>input+img {
    cursor: pointer;
    margin: 0 5px;
    border-radius: 10px;
    width: 40px;
}

.input-checked {
    border: 2px solid #474747;
    opacity: 100%;
}

.input-unchecked {
    opacity: 50%;
}

.visa {
    opacity: 10%;
}

.creditcard-inputs {
    display: flex;
    align-items: center;
}

.creditcard-inputs p {
    width: 150px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #474747;
}