.products-item {
    background-color: #e9e8e8;
    text-align: center;
    padding: 5px 0 10px 3%;
    margin: 10px 5px;
    border-radius: 5px;
    opacity: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    height: 90%;
}

.products-item:hover {
    opacity: 100%;
    border: 1px solid #00AEFF;
    cursor: pointer;
}

.products-item p {
    text-decoration: none;
}

.products-img {
    width: 150px;
}

.products-img:hover {
    scale: 1.5;
    cursor: pointer;
}

.card-description {
    font-family: 'Roboto Slab', sans-serif;
    text-align: start;
    margin-left: 15px;
    color: #474747;
}   

.card-description h5{
    text-decoration: line-through;
}

.card-description h2{
    color: #0BB07B;
}

.card-description h3{
    color: #00AEFF;
}
.card-description p{
    font-family: 'Roboto Slab', sans-serif;
}