.home{
    text-align: center;
    margin-bottom: 150px;
}

.home h1{
    font-family: 'Sedgwick Ave Display';
    font-size: 36px;
}

.home-highlight{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 36px;
    color:#474747;
}

.home div{
    margin-top: 70px;
}

.home-header{
    align-items: flex-start;
    background-image: linear-gradient(#313131ac, #121212da), url('../../img/wallpaper/wallpaper.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    min-height: 400px;
    padding-left: 70px;
    width: 100%;
    box-sizing: border-box;
    
}


.home p {
    color:#474747;
    margin-bottom: 50px;
}

.home-img p, .home-img h2{
    color:#FFF;
}
.home p{
    font-family: 'Playpen Sans';
}
