.product-img {
    display: flex;
    width: 50%;
    border-radius: 15px;
    margin: 0 10px;
    box-sizing: border-box;
    margin: auto 0;
}

.product-img__main {
    display: flex;
    margin: 0 auto;
    padding: 120px 30px;
    background-color: #efefef;
    border-radius: 15px;
    width: 70%;
    height: 50%;
}

.product-gallery{
    min-height: 100%;
    width: 25%;
}

.product-gallery ul{
    list-style: none;
    width: 100%;
    margin-left: 0px
}
.product-gallery li{
    box-sizing: border-box;
    width: 70%;
    opacity: 75%;
}
.product-gallery img{
    width: 80px;
    background-color: #EBE9EA;
    padding: 15px;
    border-radius: 10px;
}

.product-gallery li:hover{
    box-sizing: border-box;
    width: 70%;
    opacity: 100%;
    cursor: pointer;
    scale:1.1;
}

.main-img{
    width: 100%;
    cursor: none;
}

.magnify{
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    border: 2px solid #FFF;
    width: 200px;
    height: 200px;
    background-size: 400%;
    background-position: center;
    pointer-events: none;
    border-radius: 50%;
    transform: scale(0);
    animation: scaleUp 200ms ease-in forwards;
}

@keyframes scaleUp{
    0%{transform: scale(0)}
    90%{transform: scale(1.2)}
    100%{transform: scale(1)}
    
}