.navbar {
    background-color: #00aeffc4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
}

.navbar-logo h2 {
    font-family: 'Sedgwick Ave Display';
    font-size: 28px;
    color: #FFF;
    transition: scale 1s;
}
.navbar-logo:hover {
    scale:1.1;
}

.navbar-logo {
    display: flex;
    align-items: center;
    min-width: 185px;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
    margin: 0px 10px 10px;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-links {
    margin-right: 10px;
}

.navbar-list li {
    margin: 5px 10px;
    align-items: center;
}

.cart {
    display: flex;
    border: 2px solid #f8f8f8;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #0BB07B;
    min-width: 170px;
    border-radius: 25px;
    height: 35px;
    margin-top: -10px;
}

.cart p {
    color: #FFF;
}

.cart img {
    width: 24px;
    height: 24px;
}

.navbar-link {
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto Slab', sans-serif;
}

.navbar-link:hover {
    background: #474747;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Slab', sans-serif;
}

.active {
    background: #0BB076;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Slab', sans-serif;
}

.navbar-cart {
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto Slab', sans-serif;
}

.logo-title {
    text-decoration: none;
}

@media screen and (max-width: 560px){
    .navbar-list{
        padding: 0px;
    }
    .home-btn{
        display: none;
    }
    .navbar-logo{
        min-width: 120px;
    }
    .navbar-logo h2{
        font-size: 22px;
    }
    .navbar-logo img{
        width: 30px;
        height: 30px;
    }
    .navbar-list li{
        margin: 5px;
    }
}
@media screen and (max-width: 415px){
    .navbar-logo h2{
        font-size: 17px;
    }
    .navbar-logo img{
        width: 25px;
        height: 25px;
    }
}