.btn-quantity {
    background-color: #00AEFF;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 15px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
}

.btn-quantity:hover {
    background-color: #FFF;
    color: #00AEFF;
    border: 1px solid #00AEFF;
}

.item-quantity {
    min-width: 20px;
    background-color: #FFF;
    margin: 15px 5px;
    padding: 10px;
    height: 15px;
    border: 2px solid #00AEFF;
    border-radius: 10px;
    color: #00AEFF;
    font-weight: bold;
    text-align: center;
}

.quantity-title {
    color: #00AEFF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.price-title {
    color: #0BB07B;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.item-price {
    width: 90px;
    padding: 10px;
    height: 15px;
    color: #0BB07B;
    font-weight: bold;
    text-align: center;
}

.delete-item {
    text-align: center;
    margin: auto 10px;
    border-radius: 25px;
}

.delete-item img {
    width: 30px;
    margin: 0 10px;
}

.delete-item:hover {
    background-color: #d6d5d5;
    cursor: pointer;
}

.payment-itens {
    width: 20%;
}
.item-options__btn {
    display: flex;
}
.item-options {
    display: flex;
}

.item-options__quantity {
    padding-right: 20px;
}

.cart-itens {
    width: 75%;
}

.cart-itens ul {
    background-color: #EBE9EA;
    list-style: none;
    border: 2px solid #b2b2b2;
    border-radius: 20px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
}

.cart-item {
    display: flex;
    align-items: center;
}

.item-desc {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    width: 60%;
    margin-right: 40px;
    color: #474747;
}

.item-desc h3 {
    color: #00AEFF;
}

.item-img img {
    width: 200px;
    margin-right: 20px;
    background-color: #dddddd;
    border-radius: 10px;
}

@media screen and (max-width: 1300px){ 
    .text-desc{
        display: none;
    }
}
@media screen and (max-width: 1023px){ 
    .item-img img{
        width: 100px;
    }
    .cart-itens{
        width: 100%;
    }
}
@media screen and (max-width: 690px){
    .delete-item{
        display: none;
    }
}
@media screen and (max-width: 540px){
    .btn-quantity{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5px;
        padding: 5px 10px;
    }
    .item-quantity{
        min-width: 7px
    }
    .item-img img{
        width: 70px;
    }
    .item-desc h3{
        font-size: 15px;
    }
    .item-options__quantity{
        padding: 0px;
    }
    .item-brand{
        display: none;
    }
}

@media screen and (max-width: 420px){
    .item-options__price{
        width: min-content;
    }
    .item-desc h3{
        width: 50px;
    }
    .quantity-title{
        font-size: 16px;
    }
    .price-title,.item-price{
        font-size: 14px;
    }
    .item-desc{
        margin: 0px 5px;
    }
}