.payment-itens-order {
    width: 100%;
    height: 500px;
}

.payment-cart-order {
    height: 450px;
    background-color: #EBE9EA;
    border: 2px solid #b2b2b2;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.payment-total {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    margin: -5px auto 5px auto;
    align-items: center;
    background-color: #0bb045;
    width: 90%;
    min-width: 163px;
    height: 50px;
}

.payment-resume {
    color: #00AEFF;
    text-align: center;
    border-bottom: 1px solid #b2b2b292;
    padding-bottom: 10px;
}

.payment-subtotal {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: #474747;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    align-items: center;
}


.freight {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: #474747;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -40px;
    align-items: center;
}

.payment-value {
    font-size: 22px;
}

.payment-pix {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-pix h2 {
    margin: -10px 0 -5px;
    color: #0bb045;
    text-align: center;
}

.pix-method {
    color: #0bb045;
    font-size: 10px;
}

.pix-discount {
    text-align: center;
    font-size: 11px;
}

.card-method h2 {
    color: #00AEFF;
    margin-bottom: -10px;
    text-align: center;
}

.card-method p {
    text-align: center;
    font-size: 11px;
}

@media screen and (max-width: 1023px) {
    .payment-resume {
        margin-bottom: 130px;
        display: none;
       
    }
    .card-method {
        display: none;
    }
    .payment-subtotal,.freight{
        display: none;
    }
    
    .payment-cart-order {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        min-width: 450px;
        height: 100px;
    }

    .payment-itens-order {
        width: 95vw;
        height: 150px;
    }

    .payment-cart-order {
        height: 100px;
    }

    .payment-total {
        width: 40%;
        margin: 0 10px;
    }

    .payment-pix {
        width: 250px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 690px){
    .payment-cart-order{
        min-width: 350px;
    }
    .payment-itens-order{
        width: 50%;
    }
    .payment-pix{
        width: 150px;
    }
    .payment-pix h2{
        width: 50px;
        font-size: 20px;
    }
}

@media screen and (max-width: 420px){
    .payment-cart-order{
        min-width: 300px;
    }
}