.payment-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.payment-type {
    width: 100%;
    margin-right: 10px;
}

.payment-page__itens {
    display: flex;
}

.payment-title {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.payment-title img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.payment-title h2 {
    color: #0BB045;
}

.payment-option {
    display: flex;
    background-color: #00aeff;
    border: 1px solid #474747;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    margin: auto 0;
    height: 35px;
}

.payment-option label {
    display: flex;
    margin: auto 0 auto 5px;
    font-size: 14px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
}

